<%- include("partials/header") -%>
<link rel="stylesheet"  href="styles/styles.css">
<link rel="stylesheet" href="styles/contact2.css">
    <title>Contact Us </title>
    
  </head>
  <body>
    <!-- navbar starts -->
    <%- include("partials/navbar") -%>
    
    <section class="contact">
      <div class="content">
        <h2>Contact Us</h2>
        <p>TrustTribe: Building Safer, Stronger Communities Together.</p>
      </div>
      <div class="container4">
        <div class="contactInfo">
          <div class="box">
            <div class="icon"><i class="fa  fa-3x fa-map-marker" aria-hidden="true"></i></div>
            <div class="text">
              <h3>Address</h3>
              <p>TrustTribe,<br>Gandipet Hyderabad,<br>500075</p>
            </div>
          </div>
          <div class="box">
            <div class="icon"><i class="fa fa-3x fa-phone" aria-hidden="true"></i></div>
            <div class="text">
              <h3>Phone</h3>
              <p>+91 9959585325</p>
            </div>
          </div>
          <div class="box">
            <div class="icon"><i class="fa fa-3x fa-envelope" aria-hidden="true"></i></div>
            <div class="text">
              <h3>Email</h3>
              <p>trusttribecommunity@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="contactForm">
        <form>
          <h2>Send Feedback</h2>
          <div class="InputBox">
            <input type="text" name="" required="required">
            <span>Full Name</span>
          </div>
          <div class="InputBox">
            <input type="text" name="" required="required">
            <span>Email</span>
          </div>
          <div class="InputBox">
            <input type="text" name="" required="required">
            <span>Type your Message..</span>
          </div>
          <div class="InputBox">
            <input type="submit" name="" value="Send">
          </div>
        </form>
      </div>
    </section>
    <%- include("partials/footer") -%>
  </body>
</html>